/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Common styles */
body {
  color: #3f4042;
  font: 1rem "citrixsans-regular",Arial,Helvetica,sans-serif;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "citrixsans-regular",Arial,Helvetica;
}
h3, h4, h5, h6 {
  font-family: "citrixsans-semibold",Arial,Helvetica;
}

h1 { font-size:32px; line-height: 36px; }
h2 { font-size:28px; line-height: 32px; }
h3 { font-size:25px; line-height: 32px; }
h4 { font-size:21px; line-height: 27px; }
h5 { font-size:18px; line-height: 24px; }
h6 { font-size:16px; line-height: 18px; }
p { font-family: "citrixsans-regular",Arial,Helvetica; line-height: 22px!important;}

ul, div, span { /* IE 10 */
  font-family: "citrixsans-regular",Arial,Helvetica;
}
